<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= host %></title>
    </head>
    <body>
	    <h1><%= host %></h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">パス</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">説明</th>
                    <th scope="col">詳細</th>
                </tr>
            </thead>
            <tbody>
                <% pages.forEach(page=>{ %>
                    <tr>
                        <th scope="row"><%= page.path %></th>
                        <td><%= page.title || "なし" %></td>
                        <td><%= page.description || "なし" %></td>
                        <td><a href="/site/<%= host %>/page/<%= page.id %>">詳細へ移動</a></td>
                    </tr>
                <% }); %>       
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="2">合計</th>
                    <td><%= pages.length %></td>
                </tr>
            </tfoot>
        </table>          
    </body>
</html>